@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
  font-family: "bienvenidos";
  src: url("../fuente/bienvenidos.ttf") format("truetype");
}

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

html{
  font-size: 16px;
}

header{
  height: 10vh;
  width: 100vw;
  background: #212F3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 8vw;
}

.logo_pagina{
  height: 7vh;
  width: 7vh;
  margin-left: 1.5rem;
  border-radius: 50%;
  background-color: #ECF0F1;
  transition: 0.4s;
}

.logo_pagina:hover{
  transform: scale(1.2);
}

h1{
  font-size: 3rem;
  color: #ECF0F1;
  font-family: 'Montserrat', sans-serif;
}

.redes_sociales{
  width: 30vw;
  margin-right: 2vw;
}

.redes_sociales ul{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.logos_redes{
  height: 5vh;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ECF0F1;
  border-radius: 50%;
  transition: 0.4s;
}

.logos_redes:hover{
  transform: scale(1.2);
  background-color: #707B7C
}

.banner{
  background-image: url("../imagenes/bannerppal.jpg");
  background-size: cover;
  height: 85vh;
}

.banner h2{
  font-family: "bienvenidos";
  color: #ECF0F1;
  font-size: 10rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.recetas0{
  display: flex;
  flex-wrap: wrap;
}

.recetas{
  width: 50%;
  height: 65vh;
  float: left;
  background-image: url("../imagenes/frutas.jpg");
  background-size: cover;
}

.recetas h3{
  font-family: "bienvenidos";
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #ECF0F1;
}

.recetas2{
  background-color: #ECF0F1;
  width: 50%;
  height: 65vh;
  text-decoration: none;
  float: right;
}

.recetas2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.recetas2 ul li a{
  text-decoration: none;
  font-family: "bienvenidos";
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.recetas2 ul li:hover{
  transform: scale(1.1);
}

.recomendaciones0{
  display: flex;
  flex-wrap: wrap;
}

.recomendaciones2{
  width: 50%;
  height: 65vh;
  float: right;
  background-image: url("../imagenes/rolls.jpg");
  background-size: cover;
}

.recomendaciones2 h3{
  font-family: "bienvenidos";
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #ECF0F1;
}

.recomendaciones{
  background-color: #ECF0F1;
  width: 50%;
  height: 65vh;
  text-decoration: none;
  float: left;
}

.recomendaciones ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.recomendaciones ul li a{
  text-decoration: none;
  font-family: "bienvenidos";
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.recomendaciones ul li:hover{
  transform: scale(1.1);
}

footer{
 display: flex;
 flex-flow: row wrap;
 background-color: #212F3C;
 height: 50vh;
 width: 100%;
}

.ubicacion{
  float: left;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes_sociales2{
  width: 30vw;
  margin-right: 3vw;
}

.redes_sociales2 ul{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.nosotros{
  float: right;
  width: 30vw;
  font-family: "bienvenidos";
  font-size: 1rem;
  color: #ECF0F1;
  text-align: justify;
}

.logo_whatsapp{
  background-color: #A9DFBF;
  border: 1px solid white;
  z-index: 999;
  border-radius: 50%;
  padding: 15px;
  bottom: 15px;
  right: 10px;
  position: fixed;
  transition: 0.3s;
}

.boton_whatsapp{
  width: 4vw;
}

.logo_whatsapp:hover{
  background-color: black;
}

@media (max-width: 50rem) {
  html{
    font-size: 12px;
  }
  .recetas0{
    flex-flow: column wrap;
  }
  .recetas{
    width: 100vw;
  }
  .recetas2{
    width: 100vw;
    text-align: center;
  }
  .recomendaciones{
    width: 100vw;
    order: 2;
    text-align: center;
  }
  .recomendaciones2{
    width: 100vw;
    order: 1;
  }
  .recomendaciones0{
    flex-flow:column wrap;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .redes_sociales2{
    width: 100vw;
    order:1;
 }
 .ubicacion{
   width: 100vw;
   order:2;
 }
 .nosotros{
   width: 100vw;
   order:3;
 }
}

@media (max-width: 30rem){
  .banner h2{
    font-size: 5rem;
  }
  h1{
    font-size: 1.5rem;
  }
}
