body{
  background-color: white;
}
.titulo{
  color:#E74C3C ;
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding: 15px;
  background-color: #A9DFBF;
  border: 5px;
  border-color: #E74C3C;
  border-radius: 5px;
  margin: 0 0 0 0;
}

.lista_otraspaginas{
  list-style: none;
  background: #A9DFBF;
  border-radius: 10px;
  margin: 0 0 0 0
}

.logos {
  font-family: monospace;
  font-size: 70;
  display: inline-block;
  padding: 20px;
  bottom: 20px;
  right: 20px;
}

.otraspaginas {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 85px;
}

a:hover{
  background-color:#2ECC71
}

.parrafo_ppal{
  font-family: monospace;
  font-size: 30px;
  text-align: justify;
}

.logo_whatsapp{
  background-color: #A9DFBF;
  border: 1px solid white;
  z-index: 999;
  border-radius: 50%;
  padding: 15px;
  bottom: 15px;
  right: 10px;
  position: fixed;
}

.boton_whatsapp{
  width: 40px;
}

.lista_recetas{
  font-size: 30px;
  font-family: monospace;
}

.link_recetas{
  text-decoration: none;
  color: black
}

.link_recetas:hover{
  background-color: black;
  color: white;
}

footer{
  background-color: #A9DFBF;
  color: black;
  font-family: monospace;
  padding-left: 5px;
}

.lista_contactanos{
  list-style: none;
  display: inline;
}

.logos_contactos{
  width: 50px;
  height: 50px;
  padding: 20px;
  display: inline;
}
